<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/admin/Desktop/BitMartApiAutoTest/src"><classes><class name="com.bitmart.cases.GetEntrustListTest"><methods><include name="getEntrustListTest"/><include name="getBalanceTest"/><include name="getEntrustDetailListTest"/><include name="getUserFeeRateTest"/><include name="queryUserFeeRateTest"/><include name="queryMarketTradeTest"/><include name="queryMarketTradeMappingTest"/><include name="queryUserInfoTest"/><include name="queryFinanceSymbolWalletTest"/><include name="queryMarketKLineTest"/></methods></class><class name="com.bitmart.cases.OrderTest"><methods><include name="getKYCInfoTest"/><include name="setForbiddenCountryTest"/><include name="queryMarketKLineTest"/></methods></class></classes></test></suite>